.profile{

    .box{
     
    .container{
margin-left: -100px;
margin-top: 60px;
border-radius: 12px;

.hi{
margin-top: 10px;
padding: 4px;
border-radius: 8px;
}

.search{
    margin-top: 20px;
    margin-bottom: 10px;

     input{
        border: 1px solid black;
        outline: none;
         padding: 6px;
         border-radius: 12px;
         font-size: 18px;
     }
     button{
        background-color: black;
        color: white;
        padding: 10px;
        border-radius: 12px;
        
     }
}
.dis{
    background-color: black;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    font-weight: 600;
    border-radius: 12px;

    .info{
        margin-top: 10px;
        border: 1px solid white;
        padding: 8px;
        border-radius: 12px;
    }
    .info:hover{
        cursor: pointer;
    }
}

    }

    }
}